/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
  }
  
  /* Header */
  header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  header .section-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Navigation */
  .menu {
    background-color: #007bff;
    padding: 10px;
    text-align: center;
  }
  
  .menu li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  /* Main Content */
  main {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  main h2 {
    color: #007bff;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  main p {
    margin-bottom: 20px;
  }
  
  .logo img {
    width: 100%;
    max-width: 200px;
    display: block;
    margin: 0 auto;
  }
  
  .posizione img {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 0 auto;
  }
  
  .immagine {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .immagine img {
    max-width: 100%;
    height: auto;
  }
  
  /* Footer */
  footer {
    background-color: #007bff;
    padding: 10px;
    color: #fff;
    text-align: center;
  }
  
  footer p {
    margin-bottom: 0;
  }
  /* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
  }
  
  /* Header */
  header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  header .section-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Navigation */
  .menu {
    background-color: #007bff;
    padding: 10px;
    text-align: center;
  }
  
  .menu li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  /* Main Content */
  main {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  main h2 {
    color: #007bff;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  main p {
    margin-bottom: 20px;
  }
  
  .logo img {
    width: 100%;
    max-width: 200px;
    display: block;
    margin: 0 auto;
  }
  
  .posizione img {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 0 auto;
  }
  
  .immagine {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .immagine img {
    max-width: 100%;
    height: auto;
  }
  
  /* Footer */
  footer {
    background-color: #007bff;
    padding: 10px;
    color: #fff;
    text-align: center;
  }
  
  footer p {
    margin-bottom: 0;
  }


  